<div class="container">
  <%= render partial: "nav" %>
  <h2>Create Account</h2>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    First Name: <%= f.text_field :first_name %><br/>
    Last Name: <%= f.text_field :last_name %><br/>
    Username: <%= f.text_field :username %><br/>
    Email: <%= f.text_field :email %><br/>
    Password: <%= f.password_field :password %><br/>
    <%= f.submit :Signup %>
  <% end %>
</div>